<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <!--<script src="/static/js/table1.js" ></script>-->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>纠纷案件审批表(庭前)</title>
</head>

<body>
    <div class="container">
        <h2 class="text-center">纠纷案件审批表(庭前)</h2>

        <table class="table table-bordered table-hover">
            <tr class="text-center">
                <td class="col-md-1">
                    <div>案号</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <input value="{{ table_content.case_id }}" type="text" class="form-control" id="case_id">
                    </div>
                </td>
                <td class="col-md-1">
                    <div>案件名称</div>
                </td>
                <td class="col-md-9">
                    <div>
                        <input value="{{ table_content.case_name }}" type="text" class="form-control" id="case_name">
                    </div>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-hover">
            <tr class="text-center">
                <td class="col-md-1">
                    <div>OA档案号</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <input value="{{ table_content.OA_id }}" type="text" class="form-control" id="OA_id">
                    </div>
                </td>
                <td class="col-md-1">
                    <div>公司名称</div>
                </td>
                <td class="col-md-5">
                    <div>
                        <input value="{{ table_content.company_name }}" type="text" class="form-control" id="company_name">
                    </div>
                </td>
                <td class="col-md-1">
                    <div>经办部门</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <input value="{{ table_content.department }}" type="text" class="form-control" id="department">
                    </div>
                </td>
            </tr>
            <tr class="text-center">
                <td class="col-md-1">
                    <div>经办人</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <input value="{{ table_content.manager }}" type="text" class="form-control" id="manager">
                    </div>
                </td>
                <td class="col-md-1">
                    <div>联系电话</div>
                </td>
                <td class="col-md-5">
                    <div>
                        <input value="{{ table_content.phone }}" type="text" class="form-control" id="phone">
                    </div>
                </td>
                <td class="col-md-1">
                    <div>提交日期</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <input value="{{ table_content.submit_time }}" type="text" class="form-control" id="submit_time">
                    </div>
                </td>
            </tr>
            <tr class="text-center">
                <td class="col-md-1">
                    <div>案件类型</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <select id="case_type" class="selectpicker show-tick form-control" data-live-search="false">
                            {% set type1 = '0' %}
                            {% set type2 = 'Case1' %}
                            {% set type3 = 'Case2' %}
                            {% if table_content.case_type|string() == type1 %}
                                <option selected="selected" value="0">==请选择==</option>
                            {% else %}
                                <option value="0">==请选择==</option>
                            {% endif %}

                            {% if table_content.case_type|string() == type2 %}
                                <option selected="selected" value="Case1">Case1</option>
                            {% else %}
                                <option value="Case1">Case1</option>
                            {% endif %}

                            {% if table_content.case_type|string() == type3 %}
                                <option selected="selected" value="Case2">Case2</option>
                            {% else %}
                                <option value="Case2">Case2</option>
                            {% endif %}
                        </select>
                    </div>
                </td>
                <td class="col-md-1">
                    <div>案由</div>
                </td>
                <td class="col-md-5">
                    <div>
                        <select id="case_reason" class="selectpicker show-tick form-control" data-live-search="false">
                            {% if table_content.case_reason|string() == type1 %}
                                <option selected="selected" value="0">==请选择==</option>
                            {% else %}
                                <option value="0">==请选择==</option>
                            {% endif %}

                            {% if table_content.case_reason|string() == type2 %}
                                <option selected="selected" value="Case1">Case1</option>
                            {% else %}
                                <option value="Case1">Case1</option>
                            {% endif %}

                            {% if table_content.case_reason|string() == type3 %}
                                <option selected="selected" value="Case2">Case2</option>
                            {% else %}
                                <option value="Case2">Case2</option>
                            {% endif %}
                        </select>
                    </div>
                </td>
                <td class="col-md-1">
                    <div>案件审级</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <select id="case_level" class="selectpicker show-tick form-control" data-live-search="false">
                            
                            {% set ys = '一审' %}
                            {% set es = '二审' %}
                            {% set zc = '仲裁' %}
                            {% set zs = '再审' %}
                            {% set zx = '执行' %}

                            {% if table_content.case_level|string() == type1 %}
                                <option selected="selected" value="0">==请选择==</option>
                            {% else %}
                                <option selected="selected" value="0">==请选择==</option>
                            {% endif %}

                            {% if table_content.case_level|string() == ys %}
                                <option selected="selected" value="一审">一审</option>
                            {% else %}
                                <option value="一审">一审</option>
                            {% endif %}
                            
                            {% if table_content.case_level|string() == es %}
                                <option selected="selected" value="二审">二审</option>
                            {% else %}
                                <option value="二审">二审</option>
                            {% endif %}
                            
                            {% if table_content.case_level|string() == zc %}
                                <option selected="selected" value="仲裁">仲裁</option>
                            {% else %}
                                <option value="仲裁">仲裁</option>
                            {% endif %}
                            
                            {% if table_content.case_level|string() == zs %}
                                <option selected="selected" value="再审">再审</option>
                            {% else %}
                                <option value="再审">再审</option>
                            {% endif %}
                            
                            {% if table_content.case_level|string() == zx %}
                                <option selected="selected" value="执行">执行</option>
                            {% else %}
                                <option value="执行">执行</option>
                            {% endif %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr class="text-center">
                <td class="col-md-1">
                    <div>受理机构</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <input value="{{ table_content.reception_agency }}" type="text" class="form-control" id="reception_agency">
                    </div>
                </td>
                <td class="col-md-1">
                    <div>经办法官及电话</div>
                </td>
                <td class="col-md-5">
                    <div>
                        <input value="{{ table_content.judge_phone }}" type="text" class="form-control" id="judge_phone">
                    </div>
                </td>
                <td class="col-md-1">
                    <div>案卷保管人</div>
                </td>
                <td class="col-md-2">
                    <div>
                        <input value="{{ table_content.custodian }}" type="text" class="form-control" id="custodian">
                    </div>
                </td>
            </tr>
        </table>
        <table class="table table-bordered text-center table-hover">
            <tr>
                <td class="col-md-1">
                    案件当事人及诉讼/仲裁请求
                </td>
                <td class="col-md-11">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-3">
                                原告（申请人）
                            </td>
                            <td class="col-md-9">
                                <input value="{{ table_content.plaintiff }}" type="text" class="form-control" id="plaintiff">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                被告（被申请人）
                            </td>
                            <td class="col-md-9">
                                <input value="{{ table_content.defendant }}" type="text" class="form-control" id="defendant">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                第三人
                            </td>
                            <td class="col-md-9">
                                <input value="{{ table_content.third_person }}" type="text" class="form-control" id="third_person" placeholder="有则填写， 若无请填“无”">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                标的金额
                            </td>
                            <td class="col-md-9">
                                <input value="{{ table_content.amount }}" type="text" class="form-control" id="amount" placeholder="以阿拉伯数字填写金额， 精确至小数点后一位， 例如：123.4">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                请求
                            </td>
                            <td class="col-md-9">
                                <textarea type="text" class="form-control" id="request">{{ table_content.request }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                抗辩要点
                            </td>
                            <td class="col-md-9">
                                <textarea type="text" class="form-control" id="to_argue" placeholder="如我司为原告， 则此栏填写对方可能提出的抗辩理由">{{ table_content.to_argue }}</textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="table table-bordered text-center table-hover">
            <tr>
                <td class="col-md-1">
                    附件清单
                </td>
                <td class="col-md-11">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-1">序号</td>
                            <td class="col-md-6">附件名称</td>
                            <td class="col-md-1">份数</td>
                            <td class="col-md-4">用章方式</td>
                        </tr>
                        <tr>
                            <td class="col-md-1">
                                <input value="{{ table_content.serial_number }}" type="text" class="form-control" id="serial_number">
                            </td>
                            <td class="col-md-5">
                                <input value="{{ table_content.attachment_name }}" type="text" class="form-control" id="attachment_name">
                            </td>
                            <td class="col-md-2">
                                <input value="{{ table_content.page_num }}" type="number" class="form-control" id="page_num" min="0">
                            </td>
                            <td class="col-md-4">
                                <div>
                                    <select id="yz_way" class="selectpicker show-tick form-control" data-live-search="false">
                                        {% set type4 = 'Case3' %}
                                        {% if table_content.yz_way|string() == type1 %}
                                            <option selected="selected" value="0">==请选择==</option>
                                        {% else %}
                                            <option value="0">==请选择==</option>
                                        {% endif %}

                                        {% if table_content.yz_way|string() == type2 %}
                                            <option selected="selected" value="Case1">Case1</option>
                                        {% else %}
                                            <option value="Case1">Case1</option>
                                        {% endif %}

                                        {% if table_content.yz_way|string() == type3 %}
                                            <option selected="selected" value="Case2">Case2</option>
                                        {% else %}
                                            <option value="Case2">Case2</option>
                                        {% endif %}

                                        {% if table_content.yz_way|string() == type4 %}
                                            <option selected="selected" value="Case3">Case3</option>
                                        {% else %}
                                            <option value="Case3">Case3</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="table table-bordered text-center table-hover">
            <tr>
                <td class="col-md-1">
                    办理情况登记
                </td>
                <td class="col-md-11">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-md-3">
                                经办人登记
                            </td>
                            <td class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                    <p class="text-left p1">终审意见是否落实:</p>
                                    <select id="w_implement" class="selectpicker show-tick form-control" data-live-search="false" width="20px">
                                        {% set w_y = '1' %}
                                        {% set w_n = '2' %}
                                        {% if table_content.w_implement|string() == type1 %}
                                            <option selected="selected" value="0">==请选择==</option>
                                        {% else %}
                                            <option value="0">==请选择==</option>
                                        {% endif %}

                                        {% if table_content.w_implement|string() == type1 %}
                                            <option selected="selected" value="1">是</option>
                                        {% else %}
                                            <option value="1">是</option>
                                        {% endif %}

                                        {% if table_content.w_implement|string() == type1 %}
                                            <option selected="selected" value="2">否</option>
                                        {% else %}
                                            <option value="2">否</option>
                                        {% endif %}    
                                    </select>
                                    </div>
                                    <textarea cols="50" rows="3" placeholder="填写未落实的细节及处理办法" id="registration_details">{{ table_content.registration_details }}</textarea>
                                </div>
                                <div class="time-area form-group">
                                    <label for="register_time" class="control-label col-md-3">立案时间:</label>
                                    <input value="{{ table_content.register_time }}" type="text" class="col-md-2" id="register_time">
                                    <label for="submit_add_time" class="control-label col-md-3">提交补充证据时间:</label>
                                    <input value="{{ table_content.submit_add_time }}" type="text" class="col-md-2" id="submit_add_time">
                                </div>
                                <div class="time-area form-group">
                                    <label for="court_time" class="control-label col-md-3">开庭时间:</label>
                                    <input value="{{ table_content.court_time }}" type="text" class="col-md-2" id="court_time">
                                    <label for="get_paper_time" class="control-label col-md-3">领取法律文书时间:</label>
                                    <input value="{{ table_content.get_paper_time }}" type="text" class="col-md-2" id="get_paper_time">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                集团法务部负责人意见
                            </td>
                            <td class="col-md-9">
                                <textarea rows="5" placeholder="" id="group_justice_add_advise">{{ table_content.group_justice_add_advise }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                集团主管法务备案
                            </td>
                            <td class="col-md-9">
                                <textarea rows="5" placeholder="" id="group_manager_filing">{{ table_content.group_manager_filing }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                集团档案室备案
                            </td>
                            <td class="col-md-9">
                                <textarea rows="5" placeholder="" id="group_doc_filing">
                                    {{ table_content.group_doc_filing }}
                                </textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    <div id="operate">
        <button class="btn btn-danger">取消</button>
        <button class="btn btn-success" onclick="javascript:void(0);">提交</button>
    </div>
    </div>
</body>

<script type="text/javascript">


$(document).ready(function(){
  $(".btn-success").click(function(){
    var data = getData();
    $.post("/table", data,
    function(data,status){
      alert("数据：" + data + "\n状态：" + status);
    });
  });
});

function getData() {
    return {
        t_type: "t1",
        case_id: $("#case_id").val(),
        case_name: $("#case_name").val(),
        OA_id: $("#OA_id").val(),
        company_name: $("#company_name").val(),
        department: $("#department").val(),
        manager: $("#manager").val(),
        phone: $("#phone").val(),
        submit_time: $("#submit_time").val(),
        case_type: $("#case_type").val(),
        case_reason: $("#case_reason").val(),
        case_level: $("#case_level").val(),
        reception_agency: $("#reception_agency").val(),
        judge_phone: $("#judge_phone").val(),
        custodian: $("#custodian").val(),
        plaintiff: $("#plaintiff").val(),
        defendant: $("#defendant").val(),
        third_person: $("#third_person").val(),
        amount: $("#amount").val(),
        request: $("#request").val(),
        to_argue: $("#to_argue").val(),
        serial_number: $("#serial_number").val(),
        attachment_name: $("#attachment_name").val(),
        page_num: $("#page_num").val(),
        yz_way: $("#yz_way").val(),
        registration_details: $("#registration_details").val(),
        w_implement: $("#w_implement").val(),
        register_time: $("#register_time").val(),
        submit_add_time: $("#submit_add_time").val(),
        court_time: $("#court_time").val(),
        get_paper_time: $("#get_paper_time").val(),
        group_justice_add_advise: $("#group_justice_add_advise").val(),
        group_manager_filing: $("#group_manager_filing").val(),
        group_doc_filing: $("#group_doc_filing").val()

    }
}
/*/
function test() {
    alert($("#request").val());
}
*/
</script>

</html>
