<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>task</title>
    <!-- Bootstrap -->
    <script type="text/javascript" src="/static/js/task/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/task/bootstrap.min.js"></script>
    <link href="/static/css/task/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/task/home.css?q=1280549780" rel="stylesheet" />
    <link href="/static/css/task/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="/static/css/task/buttons.css?q=1280549780" rel="stylesheet" />
    <link href="/static/css/task/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="/static/js/task/task.js?q=1280549780"></script>
    <script type="text/javascript" src="/static/js/task/bootstrap-datetimepicker.js"></script>
    <script type="text/jscript" src="/static/js/task/bootstrap-datetimepicker.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">协作</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/home">主页</a>
                    </li>
                    <li>
                        <a href="/all_case">案例</a>
                    </li>
                    <li class="active">
                        <a href="/all_task">任务</a>
                    </li>
                    {% if login %}
                    <li>
                        <a href="{{ user_url }}">我的账号[{{ username }}]</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login">登陆</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!--按钮-->
    <div class="todo-box container">
        <div class="todo-box row">
            <div class="col-md-4">
            </div>
            <button type="button" id="add-button" class="btn btn-success todo-add col-md-4">添加任务</button>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="todo-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">任务表</h4>
                </div>
                <div class="modal-body">
                    <div style="margin: 5px auto;">
                        <label class="col-md-2 control-label">任务名称:</label>
                        <input name="input-task-name" id="task_name">
                    </div>
                    <div style="margin: 5px auto;">
                        <label class="col-md-2 control-label">任务编号:</label>
                        <input name="input-task-number" id="task_id">
                    </div>
                    <div style="margin: 5px auto;">
                        <label class="col-md-2 control-label">任务状态:</label>
                        <select id="task_state" class="task-state-select">
                            <option value="done">已办</option>
                            <option value="undone">待办</option>
                        </select>
                        <label class="control-label task-type">任务类型:</label>
                        <select id="task_type" class="task-type-select">
                            <option value="type1">类型1</option>
                            <option value="type2">类型2</option>
                            <option value="type3">类型3</option>
                            <option value="type4">类型4</option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label task-operator">经办人:</label>
                    <input id="manager" name="input-operator" readonly="readonly" value="{{ username }}">
                    <br/>
                    <div class="form-group time-select" style="margin: 5px auto;">
                        <label class="col-md-2 control-label">截止日期:</label>
                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input id="deadline" class="form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" class="task-end-time" id="dtp_input2" value="" />
                        <br/>
                    </div>
                    <div class="form-group time-select" style="margin: 5px auto;">
                        <label class="col-md-2 control-label">完成日期:</label>
                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input id="completion_date" class="form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" class="task-finish-time" id="dtp_input2" value="" />
                        <br/>
                    </div>
                    <div class="button-group-window" style="margin: 5px auto;">
                        <label class="col-md-2 control-label need-time">所需时间</label>
                        <input id="time_required" class="task-need-time">
                    </div>
                    <div class="button-group-window" style="text-align:center;">
                        <button id="save_task" type="button" class="button button-raised button-primary button-pill save-button">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="todolist not-done">
                    <h1>Todos</h1>
                    <button id="checkAll" class="btn btn-success">Mark all as done</button>
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                        <li>
                            <h4 class="undo-head">
                                <div class="todo-number col-md-2">
                                    编号
                                </div>
                                <div class="col-md-10">
                                    <div class="todo-name col-md-6">
                                        任务名称
                                    </div>
                                    <div class="todo-time col-md-3">
                                        时长
                                    </div>
                                    <div class="todo-finish col-md-3">
                                        完成
                                    </div>

                                </div>
                            </h4>
                        </li>
                        </br>
                    </ul>
                    <div class="todo-footer">
                        <strong><span class="count-todos"></span></strong> Items Left
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="todolist">
                    <h1>Already Done</h1>
                    <ul id="done-items" class="list-unstyled">
                    </ul>
                </div>
            </div>
        </div>
    </div>
-->
</body>

</html>